@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixins.scss";

.circle {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    margin: auto;
    max-width: 85%;
    max-height: 70%;
    aspect-ratio: 1/1;

    &::before {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background: $brand-color;
        filter: blur(38px);
    }
}

.circle__text {
    position: absolute;
    z-index: 3;
    bottom: 0;
    right: 0;
    width: 115px;
    height: 115px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #000;
    }

    @include media-xl {
        width: 109px;
        height: 109px;
    }

    @include media-sm {
        width: 87px;
        height: 87px;
    }

    @include landscape {
        width: 87px;
        height: 87px;
    }
}

.circle__text-pic {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.5s;

    &:hover {
        animation: linear 5s linear infinite;
    }
}

@keyframes linear {
    to {
        transform: rotate(360deg);
    }
}
